<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @specialization.type %>
</p>

<%= link_to 'Edit', edit_specialization_path(@specialization) %> |
<%= link_to 'Back', specializations_path %>
